{# Kế thừa layout backend #}
{% extends "backend/layouts/layout.html.twig" %}

{# Nội dung trong block title #}
{% block title %}
Sửa Loại sản phẩm
{% endblock %}
{# End Nội dung trong block title #}

{# Nội dung trong block headline #}
{% block headline %}
Sửa Loại sản phẩm
{% endblock %}
{# End Nội dung trong block headline #}

{# Nội dung trong block content #}
{% block content %}
<form name="frmLoaiSanPham" id="frmLoaiSanPham" method="post" action="/MyProject/backend/sachkhuyenmai/edit.php?s_ms={{ sachkhuyenmai.MASACH }}">
    <div class="form-group">
        <label for="skm_ms">Mã sách</label>
        <input type="text" class="form-control" id="skm_ms" name="skm_ms"  readonly value="{{ sachkhuyenmai.MASACH }}">
        
    </div>
    <div class="form-group">
        <label for="skm_mgg">Mức giảm giá</label>
        <input type="text" class="form-control" id="skm_mgg" name="skm_mgg" value="{{ sachkhuyenmai.MUCGIAMGIA }}">
    </div>
    
    <button class="btn btn-primary" name="btnSave">Cập nhật</button>
</form>
{% endblock %}
{# End Nội dung trong block content #}