{# Kế thừa layout backend #}
{% extends "backend/layouts/layout.html.twig" %}

{# Nội dung trong block title #}
{% block title %}
Thêm mới Loại sản phẩm
{% endblock %}
{# End Nội dung trong block title #}

{# Nội dung trong block headline #}
{% block headline %}
Thêm mới Loại sản phẩm
{% endblock %}
{# End Nội dung trong block headline #}

{# Nội dung trong block content #}
{% block content %}
<form name="frmLoaiSanPham" id="frmLoaiSanPham" method="post" action="/MyProject/backend/sach/create.php">
    <div class="form-group">
        <label for="s_ms">Mã sách</label>
        <input type="text" class="form-control" id="s_ms" name="s_ms"  >
        
    </div>
    <div class="form-group">
        <label for="s_ten">Tên sách</label>
        <input type="text" class="form-control" id="s_ten" name="s_ten" >
    </div><div class="form-group">
        <label for="s_hinhanh">Hình ảnh</label>
        <input type="text" class="form-control" id="s_hinhanh" name="s_hinhanh"  >
        
    </div>
    <div class="form-group">
        <label for="s_mota">Mô tả</label>
        <input type="text" class="form-control" id="s_mota" name="s_mota" >
    </div>
    <div class="form-group">
        <label for="s_mtacgia">Mã tác giả</label>
        <input type="text" class="form-control" id="s_mtacgia" name="s_mtacgia"  >
        
    </div>
    <div class="form-group">
        <label for="s_mloaisach">Mã loại sách</label>
        <input type="text" class="form-control" id="s_mloaisach" name="s_mloaisach" >
    </div>
    
    <button class="btn btn-primary" name="btnSave">Cập nhật</button>
</form>
{% endblock %}
{# End Nội dung trong block content #}