{# Kế thừa layout backend #}
{% extends "backend/layouts/layout.html.twig" %}

{# Nội dung trong block title #}
{% block title %}
Thêm mới Loại sản phẩm
{% endblock %}
{# End Nội dung trong block title #}

{# Nội dung trong block headline #}
{% block headline %}
Thêm mới Loại sản phẩm
{% endblock %}
{# End Nội dung trong block headline #}

{# Nội dung trong block content #}
{% block content %}
<form name="frmLoaiSanPham" id="frmLoaiSanPham" method="post" action="/MyProject/backend/kho/create.php">
    <div class="form-group">
        <label for="k_ms">Mã sách</label>
        <input type="text" class="form-control" id="k_ms" name="k_ms" >
        
    </div>
    <div class="form-group">
        <label for="k_tongsoluong">Tổng số lượng </label>
        <input type="text" class="form-control" id="k_tongsoluong" name="k_tongsoluong" >
 
    </div>
    <div class="form-group">
        <label for="k_soluongcon">Số lượng còn </label>
        <input type="text" class="form-control" id="k_soluongcon" name="k_soluongcon" >
        
    </div>

    <button class="btn btn-primary" name="btnSave">Cập nhật</button>
</form>
{% endblock %}
{# End Nội dung trong block content #}